In [1]:
import mysql.connector
from mysql.connector import errorcode

import pandas as pd

In [2]:
try:
    # Intenta hacer la conexión con la base de datos 'tienda'
    cnx = mysql.connector.connect(
        user='root',
        password='AlumnaAdalab',
        host='127.0.0.1'
    )
    print("¡Conexión exitosa a MySQL!") #

except mysql.connector.Error as err:
    # Si es un error de acceso denegado (ej. contraseña o usuario incorrecto)
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Algo está mal con tu nombre de usuario o contraseña.") #
    # Si la base de datos no existe
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("La base de datos no existe.") #
    # Para cualquier otro tipo de error
    else:
        print(err) #
        print("Código de Error:", err.errno) #
        print("SQLSTATE", err.sqlstate) #
        print("Mensaje", err.msg) #
else:
    # Si la conexión fue exitosa, cierra la conexión
    cnx.close()
    print("Conexión cerrada.")

¡Conexión exitosa a MySQL!
Conexión cerrada.

In [3]:
cnx = mysql.connector.connect(
    user='root',
    password='AlumnaAdalab',
    host='127.0.0.1'
)

mycursor = cnx.cursor()

try:
    mycursor.execute("CREATE DATABASE musicstream")
    print("Base de datos 'musicstream' creada exitosamente.")
except mysql.connector.Error as err:
    print(err)
    print("Código de Error:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Mensaje", err.msg)

cnx.close()

Base de datos 'musicstream' creada exitosamente.

In [13]:
cnx = mysql.connector.connect(
    user='root',
    password='AlumnaAdalab',
    host='127.0.0.1',
    database='musicstream' # Ahora nos conectamos a la nueva DB
)

mycursor = cnx.cursor()

try:
    mycursor.execute("CREATE TABLE artista (id INT AUTO_INCREMENT PRIMARY KEY,nombre VARCHAR(255) UNIQUE, genero VARCHAR(50),oyentes INT,reproducciones INT,biografia TEXT)")
    print("Tabla 'artista' creada exitosamente en 'musicstream'.")
except mysql.connector.Error as err:
    print(err)
    print("Código de Error:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Mensaje", err.msg)

cnx.close()

Tabla 'artista' creada exitosamente en 'musicstream'.

In [5]:
cnx = mysql.connector.connect(
    user='root',
    password='AlumnaAdalab',
    host='127.0.0.1',
    database='musicstream' 
)

mycursor = cnx.cursor()

try:
    mycursor.execute("CREATE TABLE album (id INT AUTO_INCREMENT PRIMARY KEY,nombre VARCHAR(255),artista VARCHAR(255),genero VARCHAR(100),tipo VARCHAR(50),anio INT)")
    print("Tabla 'album' creada exitosamente en 'musicstream'.")
except mysql.connector.Error as err:
    print(err)
    print("Código de Error:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Mensaje", err.msg)

cnx.close()

Tabla 'album' creada exitosamente en 'musicstream'.

In [3]:
df = pd.read_csv("/Users/lucianayelicich/Desktop/da-project-promo-54-modulo-2-team-3/data/tango/tango_2000_2001.csv")

In [4]:
artistas_unicos = df.drop_duplicates(subset='artista')

In [17]:
cnx = mysql.connector.connect(
    user='root',
    password='AlumnaAdalab',
    host='127.0.0.1',
    database='musicstream' 
)

mycursor = cnx.cursor()

for _, row in artistas_unicos.iterrows():
    mycursor.execute("""
        INSERT IGNORE INTO artista (nombre, genero, oyentes, reproducciones, biografia)
        VALUES (%s, %s, %s, %s, %s)
    """, (row['nombre'], row['genero'], row['oyentes'], row['reproducciones'], row['bio']))

cnx.commit()
print("✅ Artistas insertados")

cnx.close()

DatabaseError: 1205 (HY000): Lock wait timeout exceeded; try restarting transaction