In [ ]:
# importamos las bibliotecas y conectores necesarios

import mysql.connector
from mysql.connector import errorcode

import pandas as pd

In [ ]:
# conectamos Phyton a mySQL con manejo de errores

try:
    # Intenta hacer la conexión con SQL
    cnx = mysql.connector.connect(
        user='root',
        password='AlumnaAdalab',
        host='127.0.0.1'
    )
    print("¡Conexión exitosa a MySQL!") # si es exitosa lo informa

# definimos los posibles errores y su manejo
except mysql.connector.Error as err:
    # Si es un error de acceso denegado (ej. contraseña o usuario incorrecto)
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Algo está mal con tu nombre de usuario o contraseña.") # informa el error encontrado
    # Si la base de datos no existe
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("La base de datos no existe.") # informa el error encontrado
    # Para cualquier otro tipo de error
    else:
        print(err) # informa del error
        print("Código de Error:", err.errno) # informa el código del error
        print("SQLSTATE", err.sqlstate) # informa el estado de conexión
        print("Mensaje", err.msg)
else:
    # Si la conexión fue exitosa, cierra la conexión y lo informa
    cnx.close()
    print("Conexión cerrada.")

¡Conexión exitosa a MySQL!
Conexión cerrada.

In [ ]:
# creamos el schema en mySQL con manejo de errores

cnx = mysql.connector.connect(     # abrimos la conexión
    user='root',
    password='AlumnaAdalab',
    host='127.0.0.1'
)

mycursor = cnx.cursor()     # establecemos el cursos

try:
    mycursor.execute("CREATE DATABASE musicstream")       # creamos el schema necesario
    print("Base de datos 'musicstream' creada exitosamente.")     # informa el resultado del mismo
except mysql.connector.Error as err:         # definimos el manejo de errores
    print(err)
    print("Código de Error:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Mensaje", err.msg)

cnx.close()             # cerramos la conexion

Base de datos 'musicstream' creada exitosamente.

In [ ]:
# creamos el dataframe del género tango a partir del CSV creado en la extracción de datos de Spotify

df_tango = pd.read_csv("/Users/lucianayelicich/Desktop/da-project-promo-54-modulo-2-team-3/data/tango/tango_2000_2001.csv")

In [ ]:
# creamos el dataframe del género flamenco a partir del CSV creado en la extracción de datos de Spotify

df_flamenco = pd.read_csv("/Users/lucianayelicich/Desktop/da-project-promo-54-modulo-2-team-3/data/flamenco/flamenco_2000_2001.csv")

In [ ]:
# creamos el dataframe del género hip hop a partir del CSV creado en la extracción de datos de Spotify

df_hiphop = pd.read_csv("/Users/lucianayelicich/Desktop/da-project-promo-54-modulo-2-team-3/data/hip hop/hip_hop_2000_2001.csv")

In [ ]:
# creamos el dataframe del género ochestra a partir del CSV creado en la extracción de datos de Spotify

df_orchestra = pd.read_csv("/Users/lucianayelicich/Desktop/da-project-promo-54-modulo-2-team-3/data/orchestra/orchestra_2000_2001.csv")

In [ ]:
# creamos el dataframe del género rock a partir del CSV creado en la extracción de datos de Spotify

df_rock = pd.read_csv("/Users/lucianayelicich/Desktop/da-project-promo-54-modulo-2-team-3/data/rock/rock_2000_2001.csv")

In [ ]:
# eliminamos posibles duplicados del dataframe en cada género

artistas_unicos_tango = df_tango.drop_duplicates(subset='artista')

In [ ]:
# eliminamos posibles duplicados del dataframe en cada género

artistas_unicos_flamenco = df_flamenco.drop_duplicates(subset='artista')

In [ ]:
# eliminamos posibles duplicados del dataframe en cada género

artistas_unicos_hiphop = df_hiphop.drop_duplicates(subset='artista')

In [ ]:
# eliminamos posibles duplicados del dataframe en cada género

artistas_unicos_orchestra = df_orchestra.drop_duplicates(subset='artista')

In [ ]:
# eliminamos posibles duplicados del dataframe en cada género

artistas_unicos_rock = df_rock.drop_duplicates(subset='artista')

In [ ]:
# unimos todos los dataframe en uno solo para pasar a la base de datos

df_artistas_unicos = pd.concat([
    artistas_unicos_flamenco,
    artistas_unicos_hiphop,
    artistas_unicos_orchestra,
    artistas_unicos_rock,
    artistas_unicos_tango
], ignore_index=True) # indicamos que ignore los encabezados de cada tabla para evitar errores

In [ ]:
df_artistas_unicos = df_artistas_unicos.drop_duplicates(subset="artista") # nos aseguramos nuevamente que no haya artistas duplicados

In [ ]:
df_artistas_unicos.head() # comprobamos el dataframe se muestra como queremos

,artista,genero,tipo,nombre,año_lanzamiento,id,bio,oyentes,reproducciones,similar_1,similar_2,similar_3
0,Remedios Amaya,flamenco,track,El zarandeo,2000,7AlYBA5M9FVXDqN31cbExE,Remedios Amaya (born María Dolores Amaya Vega)...,26222.0,107806.0,Carmen Linares,José Mercé,Duquende
1,Nobuo Uematsu,flamenco,track,Vamo'alla flamenco,2000,4uqcES2h19TKAXQlciycrO,"Nobuo Uematsu (Born March 21, 1959) is best kn...",254244.0,16903106.0,浜渦正志,Mitsuto Suzuki,崎元仁
2,Maurice Ravel,flamenco,track,Flamenco Bolero,2000,0z6xGK2u3nSsbk9XeKYwZQ,Joseph Maurice Ravel (7 March 1875 – 28 Decemb...,1149180.0,12361697.0,Claude Debussy,Gustav Mahler,Robert Schumann
3,Mark Towns,flamenco,track,After the Rain,2000,6DjfWx0fXi0uQpedpvaCD9,Mark Towns is a virtuoso guitarist and prolifi...,3108.0,13786.0,Mario Bauzá,Nestor Torres,Tito Rodriguez & His Orchestra
4,Franz Schubert,flamenco,track,Tango Serenata (Ständchen),2000,1t91qQaPbOoo4pumaLih4W,Franz Peter Schubert (31 January 1797 – 19 Nov...,1402273.0,17127920.0,Robert Schumann,Ludwig van Beethoven,Johannes Brahms

In [ ]:
df_artistas_unicos.to_csv("artistas_total_unicos.csv") # pasamos el dataframe a un nuevo CSV

In [ ]:
# creamos las tablas del schema definiendo las columnas y los tipos de datos

cnx = mysql.connector.connect(
    user='root',
    password='AlumnaAdalab',
    host='127.0.0.1',
    database='musicstream' 
)

cursor = cnx.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS artista (
  artista_id INT AUTO_INCREMENT PRIMARY KEY,
  nombre VARCHAR(255) UNIQUE,
  bio TEXT,
  oyentes INT,
  reproducciones INT
)""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS generos (
  genero_id INT AUTO_INCREMENT PRIMARY KEY,
  nombre VARCHAR(100) UNIQUE
)""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS canciones (
  cancion_id VARCHAR(100) PRIMARY KEY,
  nombre VARCHAR(255),
  tipo VARCHAR(10),
  año_lanzamiento INT,
  artista_id INT,
  genero_id INT,
  FOREIGN KEY (artista_id) REFERENCES artista(artista_id),
  FOREIGN KEY (genero_id) REFERENCES generos(genero_id)
)""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS estadisticas (
  artista_id INT,
  oyentes INT,
  reproducciones INT,
  FOREIGN KEY (artista_id) REFERENCES artista(artista_id)
)""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS artistas_similares (
  artista_id INT,
  similar_1 VARCHAR(255),
  similar_2 VARCHAR(255),
  similar_3 VARCHAR(255),
  FOREIGN KEY (artista_id) REFERENCES artista(artista_id)
)""")

cnx.commit()
cursor.close()
cnx.close()

In [ ]:
# creamos una lista única de géneros a partir de los géneros que integran el CSV

df = pd.read_csv("/Users/lucianayelicich/Desktop/da-project-promo-54-modulo-2-team-3/notebooks/artistas_total_unicos.csv")

generos = (                 # creamos una variable que alamcene los géneros
    df['genero']
    .dropna()               # quitamos posibles NaN
    .drop_duplicates()      # pedimos que cada género sólo figure una vez
    .tolist()               # convertimos el resultado a lista
)

print("Géneros detectados:", generos)

Géneros detectados: ['flamenco', 'hip hop', 'orchestra', 'rock', 'tango']

In [ ]:
# insertamos los géneros que definimos en la variable anterior a la tabla de géneros

cnx = mysql.connector.connect(
    user='root',
    password='AlumnaAdalab',
    host='127.0.0.1',
    database='musicstream' 
)

cur = cnx.cursor()

# Inserta cada género ignorando duplicados
for g in generos:
    if g:  # Evita insertar None o strings vacíos
        cur.execute("INSERT IGNORE INTO generos (nombre) VALUES (%s)", (g.strip(),)) # elimina espacios en blanco al principio y final del nombre
        
cnx.commit()
cur.close()
cnx.close()

In [ ]:
# insertamos los artistas en la tabla artistas

# creamos un dataframe a partir CSV unificado eliminando duplicados
df_artistas = pd.read_csv("/Users/lucianayelicich/Desktop/da-project-promo-54-modulo-2-team-3/notebooks/artistas_total_unicos.csv")
artistas = df_artistas[['artista','bio','oyentes','reproducciones']].drop_duplicates('artista')

# conectamos con SQL
cnx = mysql.connector.connect(
    user='root', password='AlumnaAdalab',
    host='127.0.0.1', database='musicstream'
)
cur = cnx.cursor() 

for i, row in enumerate(artistas.iterrows()): # recorremos el dataframe artistas fila por fila donde i es el indice
    _, data = row       # ignoramos el indice y guardamos el dato de cada fila
    cur.execute(
        """
        INSERT IGNORE INTO artista (nombre, bio, oyentes, reproducciones) 
        VALUES (%s, %s, %s, %s)          # insertamos los datos de cada artista en las columnas que designamos crear solo si no hay conflicto
        """,
        (
            data['artista'],  # insertamos los datos definidos, de cada artista, en cada columna
            data['bio'] if pd.notna(data['bio']) else None,     # se inserta solo si el valor no está vacío, sino inserta None
            int(data['oyentes']) if pd.notna(data['oyentes']) else None,    # convierte los datos a int sino inserta None
            int(data['reproducciones']) if pd.notna(data['reproducciones']) else None
        )
    )
    # commit cada 20 filas para evitar bloqueos porque el dataset es grande
    if i % 20 == 0:
        cnx.commit()

# commit final y cierre de la conexión
cnx.commit()
cur.close()
cnx.close()
print("✅ Artistas insertados con commits periódicos.")

✅ Artistas insertados con commits periódicos.

In [ ]:
# cargamos las canciones en la tabla canciones

# definimos un dataframe con las canciones a partir del CSV
df_canciones = pd.read_csv("/Users/lucianayelicich/Desktop/da-project-promo-54-modulo-2-team-3/notebooks/artistas_total_unicos.csv")

# conectamos con SQL
cnx = mysql.connector.connect(
    user='root',
    password='AlumnaAdalab',
    host='127.0.0.1',
    database='musicstream'
)
cur = cnx.cursor()      #definimos el cursor

for i, row in df_canciones.iterrows():      # recorremos el dataframe fila por fila
    # obtenemos el artista_id como clave foránea de la tabla artista
    cur.execute(
        "SELECT artista_id FROM artista WHERE nombre = %s", 
        (row['artista'],) 
    )
    res_art = cur.fetchone()
    if not res_art:
        # si no existe el artista, saltamos a la siguiente fila sin insertar la canción
        continue
    artista_id = res_art[0]

    # obtenemos el genero_id
    cur.execute(
        "SELECT genero_id FROM generos WHERE nombre = %s",
        (row['genero'],)
    )
    res_gen = cur.fetchone()
    if not res_gen:
        # si no existe el género, saltamos a la siguiente canción
        continue
    genero_id = res_gen[0]

    # insertamos la canción usando ambas FKs
    cur.execute(
        """
        INSERT IGNORE INTO canciones    # usamos IGNORE para evitar errores si la cancion ya existe
          (cancion_id, nombre, tipo, año_lanzamiento, artista_id, genero_id)
        VALUES (%s, %s, %s, %s, %s, %s)
        """,
        (
            row['id'], 
            row['nombre'], 
            row['tipo'], 
            int(row['año_lanzamiento']),    # convierte el año a int
            artista_id, 
            genero_id
        )
    )

    # commit periódico cada 50 filas para no bloquear la base
    if i % 50 == 0:
        cnx.commit()

# commit final y cierre de la conexión 
cnx.commit()
cur.close()
cnx.close()

print("✅ Canciones insertadas correctamente.")

✅ Canciones insertadas correctamente.

In [ ]:
# rellenamos la tabla estadísticas

# creamos un datframe a partir del CSV
df_stats = pd.read_csv("/Users/lucianayelicich/Desktop/da-project-promo-54-modulo-2-team-3/notebooks/artistas_total_unicos.csv")

# conectamos a la base de datos
cnx = mysql.connector.connect(
    user='root',
    password='AlumnaAdalab',
    host='127.0.0.1',
    database='musicstream'
)
cur = cnx.cursor()

# creamos una variable que contiene un dataframe de artistas únicos, sus oyentes y reproducciones
artistas_stats = df_stats[['artista','oyentes','reproducciones']] \
                    .drop_duplicates(subset='artista')

for _, row in artistas_stats.iterrows():
    # insertamos en la tabla estadisticas, enlazando por la FK artista_id
    cur.execute(
        """
        INSERT IGNORE INTO estadisticas (artista_id, oyentes, reproducciones)
        SELECT artista_id, %s, %s
          FROM artista
         WHERE nombre = %s
        """,
        ( 
          int(row['oyentes']) if pd.notna(row['oyentes']) else None,      # definimos manejo de errores
          int(row['reproducciones']) if pd.notna(row['reproducciones']) else None,      # uniformizamos valores a int
          row['artista']
        )
    )

# commit final y cierre de la conexión
cnx.commit()
cur.close()
cnx.close()

print("✅ Estadísticas insertadas correctamente.")

✅ Estadísticas insertadas correctamente.

In [ ]:
# insertamos datos en la tabla de artistas similares

# creamos un dataframe a partir del CSV
df_sim = pd.read_csv("/Users/lucianayelicich/Desktop/da-project-promo-54-modulo-2-team-3/notebooks/artistas_total_unicos.csv")

# conectamos a la base de datos
cnx = mysql.connector.connect(
    user='root',
    password='AlumnaAdalab',
    host='127.0.0.1',
    database='musicstream'
)
cur = cnx.cursor()

# creamos una variable que contiene un dataframe de artistas únicos y sus artistas similares
similares = df[['artista','similar_1','similar_2','similar_3']] \
               .drop_duplicates(subset='artista')

for _, row in similares.iterrows():
    # convertimos NaN a None para cada similar
    sim1 = row['similar_1'] if pd.notna(row['similar_1']) else None
    sim2 = row['similar_2'] if pd.notna(row['similar_2']) else None
    sim3 = row['similar_3'] if pd.notna(row['similar_3']) else None

    cur.execute(
        """
        INSERT IGNORE INTO artistas_similares     # insertamos los datos en las columnas correspondientes
          (artista_id, similar_1, similar_2, similar_3)
        SELECT artista_id, %s, %s, %s
          FROM artista
         WHERE nombre = %s
        """,
        (sim1, sim2, sim3, row['artista'])
    )

# guardamos y cerramos la conexion
cnx.commit()
cur.close()
cnx.close()

print("✅ Estadísticas y similares insertados correctamente, sin errores de NaN.")

✅ Estadísticas y similares insertados correctamente, sin errores de NaN.