In [1]:
import mysql.connector
from mysql.connector import errorcode

import pandas as pd

In [2]:
try:
    # Intenta hacer la conexión con la base de datos 'tienda'
    cnx = mysql.connector.connect(
        user='root',
        password='AlumnaAdalab',
        host='127.0.0.1'
    )
    print("¡Conexión exitosa a MySQL!") #

except mysql.connector.Error as err:
    # Si es un error de acceso denegado (ej. contraseña o usuario incorrecto)
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Algo está mal con tu nombre de usuario o contraseña.") #
    # Si la base de datos no existe
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("La base de datos no existe.") #
    # Para cualquier otro tipo de error
    else:
        print(err) #
        print("Código de Error:", err.errno) #
        print("SQLSTATE", err.sqlstate) #
        print("Mensaje", err.msg) #
else:
    # Si la conexión fue exitosa, cierra la conexión
    cnx.close()
    print("Conexión cerrada.")

¡Conexión exitosa a MySQL!
Conexión cerrada.

In [3]:
cnx = mysql.connector.connect(
    user='root',
    password='AlumnaAdalab',
    host='127.0.0.1'
)

mycursor = cnx.cursor()

try:
    mycursor.execute("CREATE DATABASE musicstream")
    print("Base de datos 'musicstream' creada exitosamente.")
except mysql.connector.Error as err:
    print(err)
    print("Código de Error:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Mensaje", err.msg)

cnx.close()

Base de datos 'musicstream' creada exitosamente.

In [33]:
cnx = mysql.connector.connect(
    user='root',
    password='AlumnaAdalab',
    host='127.0.0.1',
    database='musicstream' # Ahora nos conectamos a la nueva DB
)

mycursor = cnx.cursor()

try:
    mycursor.execute("CREATE TABLE artista (artista_id INT PRIMARY KEY AUTO_INCREMENT,nombre VARCHAR(255) UNIQUE,bio TEXT,oyentes INT,reproducciones INT);")
    print("Tabla 'artista' creada exitosamente en 'musicstream'.")
except mysql.connector.Error as err:
    print(err)
    print("Código de Error:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Mensaje", err.msg)

cnx.close()

Tabla 'artista' creada exitosamente en 'musicstream'.

In [ ]:
cnx = mysql.connector.connect(
    user='root',
    password='AlumnaAdalab',
    host='127.0.0.1',
    database='musicstream' 
)

mycursor = cnx.cursor()

try:
    mycursor.execute("CREATE TABLE generos (genero_id INT PRIMARY KEY AUTO_INCREMENT,nombre VARCHAR(100) UNIQUE), ")
    print("Tabla 'genero' creada exitosamente en 'musicstream'.")
except mysql.connector.Error as err:
    print(err)
    print("Código de Error:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Mensaje", err.msg)

cnx.close()

Tabla 'canciones' creada exitosamente en 'musicstream'.

In [ ]:
cnx = mysql.connector.connect(
    user='root',
    password='AlumnaAdalab',
    host='127.0.0.1',
    database='musicstream' 
)

mycursor = cnx.cursor()

try:
    mycursor.execute("CREATE TABLE canciones (cancion_id VARCHAR(100) PRIMARY KEY,nombre VARCHAR(255),tipo VARCHAR(10),año_lanzamiento INT,genero_id INT,artista_id INT,FOREIGN KEY (genero_id) REFERENCES genero(genero_id),FOREIGN KEY (artista_id) REFERENCES artista(artista_id))")
    print("Tabla 'canciones' creada exitosamente en 'musicstream'.")
except mysql.connector.Error as err:
    print(err)
    print("Código de Error:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Mensaje", err.msg)

cnx.close()

Tabla 'canciones' creada exitosamente en 'musicstream'.

In [40]:
cnx = mysql.connector.connect(
    user='root',
    password='AlumnaAdalab',
    host='127.0.0.1',
    database='musicstream' 
)

mycursor = cnx.cursor()

try:
    mycursor.execute("CREATE TABLE estadisticas (artista_id INT,oyentes INT,reproducciones INT,FOREIGN KEY (artista_id) REFERENCES artista(artista_id))")
    print("Tabla 'estadisticas' creada exitosamente en 'musicstream'.")
except mysql.connector.Error as err:
    print(err)
    print("Código de Error:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Mensaje", err.msg)

cnx.close()

Tabla 'estadisticas' creada exitosamente en 'musicstream'.

In [42]:
cnx = mysql.connector.connect(
    user='root',
    password='AlumnaAdalab',
    host='127.0.0.1',
    database='musicstream' 
)

mycursor = cnx.cursor()

try:
    mycursor.execute("CREATE TABLE artistas_similares (artista_id INT,similar_1 VARCHAR(255),similar_2 VARCHAR(255),similar_3 VARCHAR(255),FOREIGN KEY (artista_id) REFERENCES artista(artista_id))")
    print("Tabla 'artistas_similares' creada exitosamente en 'musicstream'.")
except mysql.connector.Error as err:
    print(err)
    print("Código de Error:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Mensaje", err.msg)

cnx.close()

Tabla 'artistas_similares' creada exitosamente en 'musicstream'.

In [43]:
df_tango = pd.read_csv("/Users/lucianayelicich/Desktop/da-project-promo-54-modulo-2-team-3/data/tango/tango_2000_2001.csv")

In [44]:
df_flamenco = pd.read_csv("/Users/lucianayelicich/Desktop/da-project-promo-54-modulo-2-team-3/data/flamenco/flamenco_2000_2001.csv")

In [45]:
df_hiphop = pd.read_csv("/Users/lucianayelicich/Desktop/da-project-promo-54-modulo-2-team-3/data/hip hop/hip_hop_2000_2001.csv")

In [46]:
df_orchestra = pd.read_csv("/Users/lucianayelicich/Desktop/da-project-promo-54-modulo-2-team-3/data/orchestra/orchestra_2000_2001.csv")

In [47]:
df_rock = pd.read_csv("/Users/lucianayelicich/Desktop/da-project-promo-54-modulo-2-team-3/data/rock/rock_2000_2001.csv")

In [48]:
artistas_unicos_tango = df_tango.drop_duplicates(subset='artista')

In [49]:
artistas_unicos_flamenco = df_flamenco.drop_duplicates(subset='artista')

In [50]:
artistas_unicos_hiphop = df_hiphop.drop_duplicates(subset='artista')

In [51]:
artistas_unicos_orchestra = df_orchestra.drop_duplicates(subset='artista')

In [52]:
artistas_unicos_rock = df_rock.drop_duplicates(subset='artista')

In [55]:
df_artistas_unicos = pd.concat([
    artistas_unicos_flamenco,
    artistas_unicos_hiphop,
    artistas_unicos_orchestra,
    artistas_unicos_rock,
    artistas_unicos_tango
], ignore_index=True)

In [57]:
df_artistas_unicos = df_artistas_unicos.drop_duplicates(subset="artista")

In [59]:
df_artistas_unicos.head()

,artista,genero,tipo,nombre,año_lanzamiento,id,bio,oyentes,reproducciones,similar_1,similar_2,similar_3
0,Remedios Amaya,flamenco,track,El zarandeo,2000,7AlYBA5M9FVXDqN31cbExE,Remedios Amaya (born María Dolores Amaya Vega)...,26222.0,107806.0,Carmen Linares,José Mercé,Duquende
1,Nobuo Uematsu,flamenco,track,Vamo'alla flamenco,2000,4uqcES2h19TKAXQlciycrO,"Nobuo Uematsu (Born March 21, 1959) is best kn...",254244.0,16903106.0,浜渦正志,Mitsuto Suzuki,崎元仁
2,Maurice Ravel,flamenco,track,Flamenco Bolero,2000,0z6xGK2u3nSsbk9XeKYwZQ,Joseph Maurice Ravel (7 March 1875 – 28 Decemb...,1149180.0,12361697.0,Claude Debussy,Gustav Mahler,Robert Schumann
3,Mark Towns,flamenco,track,After the Rain,2000,6DjfWx0fXi0uQpedpvaCD9,Mark Towns is a virtuoso guitarist and prolifi...,3108.0,13786.0,Mario Bauzá,Nestor Torres,Tito Rodriguez & His Orchestra
4,Franz Schubert,flamenco,track,Tango Serenata (Ständchen),2000,1t91qQaPbOoo4pumaLih4W,Franz Peter Schubert (31 January 1797 – 19 Nov...,1402273.0,17127920.0,Robert Schumann,Ludwig van Beethoven,Johannes Brahms

In [60]:
df_artistas_unicos.to_csv("artistas_total_unicos.csv")

In [66]:
cnx = mysql.connector.connect(
    user='root',
    password='AlumnaAdalab',
    host='127.0.0.1',
    database='musicstream' 
)

mycursor = cnx.cursor()

for i, (_, row) in enumerate(df_artistas_unicos.iterrows()):
    mycursor.execute(
        """
        INSERT IGNORE INTO artista (nombre, oyentes, reproducciones, bio)
        VALUES (%s, %s, %s, %s)
        """,
        (
            row['nombre'],
            row['oyentes'] if pd.notna(row['oyentes']) else None,
            row['reproducciones'] if pd.notna(row['reproducciones']) else None,
            row['bio'] if pd.notna(row['bio']) else None,
        )
    )
    if i % 50 == 49:  # commit después de cada 50 filas insertadas
        cnx.commit()

cnx.commit()
cnx.close()

In [88]:
# --------------------------------
# 2. CONECTARSE A LA BASE DE DATOS
# --------------------------------
cnx = mysql.connector.connect(
    user='root',             # Tu usuario de MySQL
    password='AlumnaAdalab', # Tu contraseña
    host='127.0.0.1',        # Servidor local
    database='musicstream'   # Base de datos donde están las tablas
)
cursor = cnx.cursor()       # Cursor para ejecutar comandos SQL

# --------------------------------
# 3. RECORRER CANCIONES Y BUSCAR CLAVES FORÁNEAS
# --------------------------------
for i, row in df_artistas_unicos.iterrows():
    # 3.1 Buscamos artista_id en la tabla 'artista' usando el nombre
    cursor.execute(
        "SELECT artista_id FROM artista WHERE nombre = %s",
        (row['artista'],)           # Siempre tupla para un solo parámetro
    )
    resultado = cursor.fetchone()   # fetchone() devuelve una tupla o None
    if resultado:
        artista_id = resultado[0]    # El primer (y único) campo es el ID
    else:
        # Si no existe el artista en la tabla, saltamos esta canción
        continue

    # 3.2 Buscamos genero_id en la tabla 'generos' usando el nombre del género
    cursor.execute(
        "SELECT genero_id FROM generos WHERE nombre = %s",
        (row['genero'],)
    )
    resultado = cursor.fetchone()
    if resultado:
        genero_id = resultado[0]
    else:
        # Si no existe el género, saltamos esta canción
        continue

    # --------------------------------
    # 4. INSERTAR LA CANCIÓN CON SUS FKs
    # --------------------------------
    cursor.execute(
        """
        INSERT IGNORE INTO canciones
          (cancion_id, nombre, tipo, año_lanzamiento, artista_id, genero_id)
        VALUES (%s, %s, %s, %s, %s, %s)
        """,
        (
            row['id'],                # 1. ID de la canción
            row['nombre'],            # 2. Nombre de la canción
            row['tipo'],              # 3. Tipo: 'track' o 'album'
            row['año_lanzamiento'],   # 4. Año de lanzamiento
            artista_id,               # 5. FK: artista_id obtenido arriba
            genero_id                 # 6. FK: genero_id obtenido arriba
        )
    )

    # Hacemos commit cada 50 inserciones para no saturar la base
    if i % 50 == 49:
        cnx.commit()

# --------------------------------
# 5. GUARDAR CAMBIOS Y CERRAR
# --------------------------------
cnx.commit()     # Guardamos cualquier inserción restante
cursor.close()   # Cerramos el cursor
cnx.close()      # Cerramos la conexión

print("✅ Todas las canciones se han insertado con sus claves foráneas correctamente.")

✅ Todas las canciones se han insertado con sus claves foráneas correctamente.

In [86]:
cnx = mysql.connector.connect(
    user='root',
    password='AlumnaAdalab',
    host='127.0.0.1',
    database='musicstream' 
)

mycursor = cnx.cursor()

for i, (_, row) in enumerate(df_artistas_unicos.iterrows()):
    mycursor.execute("SELECT genero_id FROM generos WHERE nombre = %s", (row['genero'],))
    genero_result = mycursor.fetchone()
    genero_id = genero_result[0] if genero_result else None
    
    mycursor.execute("SELECT artista_id FROM artista WHERE nombre = %s", (row['artista'],))
    artista_result = mycursor.fetchone()
    artista_id = artista_result[0] if artista_result else None
    
    if not genero_id or not artista_id:
        continue

    mycursor.execute("""
        INSERT IGNORE INTO canciones (cancion_id, nombre, tipo, año_lanzamiento, genero_id, artista_id)
        VALUES (%s, %s, %s, %s, %s, %s)
        """, (
            row['id'],                  # ID de la canción
            row['nombre'],              # Nombre de la canción
            row['tipo'],                # Si es "track" o "album"
            row['año_lanzamiento'],     # El año
            genero_id,
            artista_id    
        )
    )
    if i % 50 == 49:  # commit después de cada 50 filas insertadas
        cnx.commit()

cnx.commit()  # commit final para insertar las filas restantes
mycursor.close()  # cierra el cursor
cnx.close()  # cierra la conexión